# Python
*.pyc
*~
__pycache__


# Env
.env
myvenv/
venv

# Database
db.sqlite3

# Static folder at project root
/static/

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

/.venv/

.idea/inspectionProfiles .idea/misc.xml .idea/modules.xml .idea/my-first-blog.iml .idea/vcs.xml .idea/workspace.xml
.vscode/settings.json
.idea/
